name: Build Windows Nginx with Modules

on:
  push:
    branches: [master]
  workflow_dispatch:
    inputs:
      nginx_version:
        description: 'Nginx Version'
        required: true
        default: '1.28.1'
      modules:
        description: 'Modules to build'
        required: false
        default: 'headers-more-nginx-module ngx_http_geoip2_module'

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Nginx source
      uses: actions/checkout@v3
      with:
        repository: nginx/nginx
        ref: release-${{ github.event.inputs.nginx_version || '1.28.1' }}
        path: nginx
        
    - name: Checkout modules
      run: |
        cd ${{ github.workspace }}
        git clone https://github.com/openresty/headers-more-nginx-module.git
        git clone https://github.com/leev/ngx_http_geoip2_module.git
        
    - name: Download dependencies
      run: |
        cd ${{ github.workspace }}
        Invoke-WebRequest -Uri https://www.openssl.org/source/openssl-3.2.0.tar.gz -OutFile openssl-3.2.0.tar.gz
        tar -xf openssl-3.2.0.tar.gz
        Invoke-WebRequest -Uri https://zlib.net/zlib-1.3.1.tar.gz -OutFile zlib-1.3.1.tar.gz
        tar -xf zlib-1.3.1.tar.gz
        Invoke-WebRequest -Uri https://github.com/PCRE2Project/pcre2/releases/download/pcre2-10.42/pcre2-10.42.tar.gz -OutFile pcre2-10.42.tar.gz
        tar -xf pcre2-10.42.tar.gz
        
    - name: Install Visual Studio Build Tools
      uses: azure/setup-msbuild@v1
      with:
        msbuildArgs: '/p:Configuration=Release /p:Platform=x64'
        msbuildArchitecture: x64
        
    - name: Install Perl
      run: |
        choco install strawberryperl -y
        
    - name: Configure Nginx
      run: |
        cd ${{ github.workspace }}\nginx
        $env:PATH = "C:\Strawberry\perl\bin;$env:PATH"
        auto/configure --with-cc=cl `
          --builddir=objs `
          --prefix= `
          --conf-path=conf/nginx.conf `
          --pid-path=logs/nginx.pid `
          --http-log-path=logs/access.log `
          --error-log-path=logs/error.log `
          --sbin-path=nginx.exe `
          --http-client-body-temp-path=temp/client_body_temp `
          --http-proxy-temp-path=temp/proxy_temp `
          --http-fastcgi-temp-path=temp/fastcgi_temp `
          --http-scgi-temp-path=temp/scgi_temp `
          --http-uwsgi-temp-path=temp/uwsgi_temp `
          --with-pcre=../pcre2-10.42 `
          --with-zlib=../zlib-1.3.1 `
          --with-openssl=../openssl-3.2.0 `
          --with-openssl-opt=no-asm `
          --with-select_module `
          --with-poll_module `
          --with-http_ssl_module `
          --with-http_realip_module `
          --with-http_addition_module `
          --with-http_sub_module `
          --with-http_dav_module `
          --with-http_flv_module `
          --with-http_mp4_module `
          --with-http_gunzip_module `
          --with-http_gzip_static_module `
          --with-http_random_index_module `
          --with-http_secure_link_module `
          --with-http_stub_status_module `
          --with-http_auth_request_module `
          --with-http_slice_module `
          --with-mail `
          --with-mail_ssl_module `
          --with-stream `
          --with-stream_ssl_module `
          --with-stream_realip_module `
          --with-stream_ssl_preread_module `
          --with-threads `
          --add-module=../headers-more-nginx-module `
          --add-module=../ngx_http_geoip2_module
        
    - name: Build Nginx
      run: |
        cd ${{ github.workspace }}\nginx
        nmake -f objs/Makefile
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: nginx-windows
        path: ${{ github.workspace }}/nginx/objs/nginx.exe
